{% extends base.html %}
{% block content %}
    <div class="container">
        <div class="row" style="margin:100px auto 40px;">
                
                <div id="main" style="height:400px"></div>
                

        </div>
    </div>

{% end %}

{% block js %}
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var myChart = ec.init(document.getElementById('main')); 
            var one_data = [{{ onerepo['watchers_count'] }}, {{ onerepo['stargazers_count'] }}, {{ onerepo['forks_count'] }}, {{ onerepo['open_issues'] }}, {{ onerepo['repo_ctb_count'] }}, {{ onerepo['sof_count'] }}];
            var two_data = [{{ tworepo['watchers_count'] }}, {{ tworepo['stargazers_count'] }}, {{ tworepo['forks_count'] }}, {{ tworepo['open_issues'] }}, {{ tworepo['repo_ctb_count'] }}, {{ tworepo['sof_count'] }}];
            option = {
                title : {
                    text: 'VS',
                    subtext: 'data from github, stackoverflow, reddit'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:["{{ onerepo['repo_owner'] }}/{{ onerepo['repo_name'] }}", "{{ tworepo['repo_owner'] }}/{{ tworepo['repo_name'] }}"]
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: false},
                        dataView : {show: false, readOnly: false},
                        magicType: {show: false, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'value',
                        boundaryGap : [0, 0.01]
                    }
                ],
                yAxis : [
                    {
                        type : 'category',
                        data : ['watcher','stars','forks','open_issues','contributors','sof_count']
                    }
                ],
                series : [
                    {
                        name:"{{ onerepo['repo_owner'] }}/{{ onerepo['repo_name'] }}",
                        type:'bar',
                        data:one_data
                    },
                    {
                        name:"{{ tworepo['repo_owner'] }}/{{ tworepo['repo_name'] }}",
                        type:'bar',
                        data:two_data
                    }
                ]
            };
            // 为echarts对象加载数据 
            myChart.setOption(option);
        }
    );


</script>
{% end %}