{% extends base.html %}
{% block content %}
    <div class="container">
      <form action="" method="POST">
        <div class="row" style="margin:300px auto 40px;">
            {% raw xsrf_form_html() %}
            <div class="col col-md-5" style="text-align:center;">
                  <div class="form-group">
                    <div class="input-group" style="margin:10px auto;">
                      <span class="input-group-addon"><i class="fa fa-github fa-lg"></i></span>
                      <input type="text" class="form-control" name="onerepo" placeholder="one github repo">
                    </div>
                  </div>
            </div>
            <div class="col col-md-2" style="text-align:center;">
              <h1 style="font-size:30px">VS</h1>
            </div>
            <div class="col col-md-5" style="text-align:center;">
                  <div class="form-group">
                    <div class="input-group" style="margin:10px auto;">
                      <span class="input-group-addon"><i class="fa fa-github fa-lg"></i></span>
                      <input type="text" class="form-control" name="tworepo" placeholder="another github repo">

                    </div>
                  </div>
            </div>
        </div>
        <div class="row" style="text-align: center; ">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit">make diff</button>
              </span>
            </div>
        </div>
      </form>
      {% if taskid %}
      <div class="row" style="text-align: center;">
        <div class="col col-md-5" style="margin:auto;">
          <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%;">下载中</div>
          </div>
        </div>
      </div>
      {% end %}
      
    </div>
{% end %}

{% block js %}
    {% if taskid %}
      <script type="text/javascript">
          var timerid;
          function getForm(){  
            $.ajax({ url: "/taskstatus/{{ taskid }}",
                    async:true,
                    success: function(response){
                      // var obj=eval(response);
                      var task_status = response;
                      if (task_status=="SUCCESS") {
                          $('.progress').removeClass("active").removeClass("progress-striped");
                          $('.progress div').html("Done.");
                          ///下载文件
                          if (timerid) {
                             clearInterval(timerid);
                          }
                          window.location.href="/diff?onerepo_owner={{ onerepo_owner }}&onerepo_name={{ onerepo_name }}&tworepo_owner={{ tworepo_owner }}&tworepo_name={{ tworepo_name }}";
                          
                      }else{
                         $('.progress').removeClass("active").removeClass("progress-striped");
                         $('.progress').addClass("active").addClass("progress-striped");
                         $('.progress div').html("making......");
                      }
                }});
          }

            // getForm();
            $(document).ready(function() {  
                  timerid = window.setInterval(getForm,1000);
            });


      </script>
    {% end %}
{% end %}